html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  background-color: var(--bs-primary);
}

h1,h2,h3,h4,h5,h6, body {font-family: 'Source Sans Pro', sans-serif;}
a, a:focus, a:active, :focus { outline: none !important; text-decoration: none; }
.x-small {font-size: .775em;}
.h-max-content { height: max-content; }
.opacity-30 {opacity: 0.3;}

.hero-bg,
.hero-bg-mob {
  position: fixed;
  top: 0%;
  left: 50%;
  max-width: 100%;
  width: auto;
  transform: translateX(-50%);
}
.hero-bg-mob {
  top: unset;
  bottom: 0;
}

/* Change color on scroll */
#main-nav {
  transition: all .3s ;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2d55aa;
  opacity: 0.3;
  z-index: 1;
}

/* cards style */
.view .mask.rgba-blue-strong { 
  transition: opacity 0.4s, background .4s;
  opacity: 0;
}
.view:hover .mask.rgba-blue-strong {
  background: rgba(18,102,241,0.9);
  opacity: 1;
}
.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}


@media (max-width: 991px) {
  #navbar-main {
    font-size: 2em;
    line-height: 1em;
    font-weight: 300;
  }
  .collapse-fullheight {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  #main-nav.bg-transparent.menu-expanded {
    background-color: #000 !important;
  }

.navbar-toggler .navbar-toggler-icon{ display: none}
.navbar-toggler .navbar-toggler-icon-x { display: inline-block}
.navbar-toggler.collapsed .navbar-toggler-icon{ display: inline-block}
.navbar-toggler.collapsed .navbar-toggler-icon-x { display: none}
}

.navbar.bg-transparent .btn-outline-primary.cv-btn {
  color: #FFF !important;
  border-color: #FFF !important;
}
.navbar.bg-transparent .btn-outline-primary.cv-btn:hover {
  color: #000 !important;
  border-color: #fff !important;
  background-color: #fff;
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
  .navbar:not(.bg-transparent) { 
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
  }
  .navbar-light {
    background: rgba(255,255,255, .8) !important
  }
}

.navbar-dark .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}
.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}

button:focus {
  box-shadow: none !important;
}

/* --- Animate elastic line */
.line-selected {
  background-color: transparent;
  top: 0;
  height: 2px;
  position: absolute;
  transform: translateZ(0);
  will-change: right, left;
}
.line-selected {
  background-color: var(--bs-primary);
}
.line-selected.left {
  transition: left 0.18s cubic-bezier(0.35, 0, 0.25, 1), right 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}
.line-selected.right {
  transition: left 0.35s cubic-bezier(0.35, 0, 0.25, 1), right 0.18s cubic-bezier(0.35, 0, 0.25, 1);
}


/* --- Animate waves */
.parallax > use {
  animation: move-forever 12s linear infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
}
.parallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
.editorial {
  display: block;
  width: 100%;
  height: 2em;
  max-height: 100vh;
  margin: -1px;
}

/*prevent many large-by-comparison ripples by shrinking the height*/
@media (max-width: 50em) {

  .editorial {
    height: 7vw;
  }
}
.skills-swiper i {font-size: 2rem;}
.skills-swiper i {background-color: #fff;}

.side-styled-element.wrapper {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}

.side-styled-element.email {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.email a {
  margin: 20px auto;
  padding: 10px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: var(--bs-primary);
}
.email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--bs-primary);
}

#contact {
  position: relative;
  overflow: hidden;
}
#contact::before,
#contact::after {
  --lineheight: 1px;
  content: '';
  background: linear-gradient(0deg, var(--bs-primary) 10%, transparent 20%, transparent 80%, var(--bs-primary) 100%);
  display: block;
  position: absolute;
  height: 100%;
  width: var(--lineheight);
  top: 0;
  left: calc(50% - (var(--lineheight)/2));
  z-index: 1;
  opacity: 0.2;
}
/* #contact::before {
  transform: rotate(-45deg);
}
#contact::after {
  transform: rotate(45deg);
} */

.techstacklist span {
  font-size: 14px;
  color: #262626;
}
.techstacklist > div { 
  /* border: 1px solid #ccc; */
  /* border: 1px solid var(--bs-primary-bg-subtle); */
  background-color: rgba(var(--bs-primary-rgb), 0.1);
  border-radius: 5px;
  width: 150px;
  padding: 15px;
  flex-grow: 1;
  transition: all .3s ease-out;
}
.techstacklist > div:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.20);
}

.dvh-100 {
  height: 100vh; /* fallback */
  height: 100dvh;
}